@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(190, 190, 190);
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.key {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    min-width: 150px;
    display: inline-flex;
    position: relative;
    flex-direction: column;
    box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.1);
    border: 1px #999 solid;

    small {
        position: absolute;
        top: -24px;
        left: 0;
        text-align: center;
        width: 100%;
        color: rgb(88, 88, 88);
    }
}