*{
    box-sizing: border-box;
}

body {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    margin: 10px;
}

.fill {
    background-image: url('https://picsum.photos/200');
    width: 146px;
    height: 146px;

}

.hold{
    border: solid 3px white;
}

.hovered {
    border-style: dashed;
    border-color: #ccc;
    background-color: rgba(222, 233, 248, 0.3);
}

@media (max-width:800px){
        body{
            flex-direction: column;
        }
}